li {
	list-style-type: none; 
	margin: 5px auto;
}
a {
	text-decoration: none;
	color: black;
}
.user-card {
	width: 250px;

	margin: 10px;
	padding: 5px;
	
	border: 3px solid #fcba03;
	border-radius: 5px;
	
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.user-photo {
	border-radius: 50%;
	display: block;
	margin: 12px auto;
	width: 128px;
}
